In [1]:
import numpy as np
import pandas as pd

In [3]:
d1= pd.read_csv("test.csv")
d1

  Unnamed: 0   0   1   2  3  4   5   6  7  8  9
0        bat   0   0   0  0  0   0   0  0  0  0
1        box  10  22   2  6  4   3   8  4  1  6
2       cook  10  40  29  6  6  15  12  4  3  6
3        dab  10  23  13  6  4   3  11  4  2  6
4      dance  10  23  13  6  6  14  11  4  2  6
5        eat  10  32  15  6  6  15  11  4  3  6
6        run   0   0   1  6  4   0   0  3  1  0
7       surf   0  10   2  6  4   0   7  3  1  6
8  telephone   0   1   2  6  4   0   4  3  1  6
9       wave  10  11   2  6  4   3   7  4  1  6

In [5]:
d2 = pd.read_csv("train.csv")
d2

  Unnamed: 0   0   1   2  3  4   5   6  7  8  9
0        bat   0   0   0  0  0   0   0  0  0  0
1        box  10  22   2  6  4   3   8  4  1  6
2       cook  10  40  29  6  6  15  12  4  3  6
3        dab  10  23  13  6  4   3  11  4  2  6
4      dance  10  23  13  6  6  14  11  4  2  6
5        eat  10  32  15  6  6  15  11  4  3  6
6        run   0   0   1  6  4   0   0  3  1  0
7       surf   0  10   2  6  4   0   7  3  1  6
8  telephone   0   1   2  6  4   0   4  3  1  6
9       wave  10  11   2  6  4   3   7  4  1  6